* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 1100px;
    height: auto;
    margin: 0 auto;

}

.bir-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "card1 card2" "card3 card2" "card3 card4" "card5 card6";
    grid-gap: 10px;
    margin-bottom: 70px;
}

.background-color {
    background-color: rgba(110, 105, 105, 0.408);
}

.bir-divs .card1 {
    grid-area: card1;
}

.bir-divs .card2 {
    grid-area: card2;
}

.bir-divs .card3 {
    grid-area: card3;
}

.bir-divs .card4 {
    grid-area: card4;
}

.bir-divs .card5 {
    grid-area: card5;
}

.bir-divs .card6 {
    grid-area: card6;
}



.ikki-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 70px;
}


.ikki-divs .card1 {
    grid-column: 1/5;
    grid-row: 3/1;
}

.ikki-divs .card2 {
    grid-column: 5/9;
    grid-row: 1/4;
}
.ikki-divs .card3 {
    grid-column: 9/13;
    grid-row: 3/1;
}

.ikki-divs .card4 {
    grid-column: 1/5;
    grid-row: 3/5;
}

.ikki-divs .card5 {
    grid-column: 5/9;
    grid-row: 4/5;
}

.ikki-divs .card6 {
    grid-column: 9/13;
    grid-row: 3/3;

}

.ikki-divs .card7 {
    grid-column: 9/13;
    grid-row: 4/4;
}

.ikki-divs .card8 {
    grid-column: 1/4;
    grid-row: 5/5;
}
.ikki-divs .card9 {
    grid-column: 6/4;
}

.ikki-divs .card10 {
    grid-column: 6/7;
}

.ikki-divs .card11 {
    grid-column: 7/10;
}

.ikki-divs .card12 {
    grid-column: 10/13;
}

.uchunchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card2" "card3 card4 card5" "card6 card7 card5" "card6 card7 card8";
    grid-gap: 10px;
    margin-bottom: 70px;
}


.uchunchi-divs .card1 {
    grid-area: card1;
}

.uchunchi-divs .card2 {
    grid-area: card2;
}

.uchunchi-divs .card3 {
    grid-area: card3;
}

.uchunchi-divs .card4 {
    grid-area: card4;
}

.uchunchi-divs .card5 {
    grid-area: card5;
}

.uchunchi-divs .card6 {
    grid-area: card6;
}

.uchunchi-divs .card7 {
    grid-area: card7;
}

.uchunchi-divs .card8 {
    grid-area: card8;
}


.tortinchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 70px;
}


.tortinchi-divs .card1 {
    grid-column: 1/5;
    grid-row: 6/1;
}

.tortinchi-divs .card2 {
    grid-column: 5/7; 
    grid-row: 1/3;
}
.tortinchi-divs .card3 {
    grid-column: 7/9;
    grid-row: 1/3; 
}

.tortinchi-divs .card4 {
    grid-column: 9/13;
    grid-row: 5/1;
}

.tortinchi-divs .card5 {
    grid-column: 5/9;
    grid-row: 3/6;
}

.tortinchi-divs .card6 {
    grid-column: 1/6;
}

.tortinchi-divs .card7 {
    grid-column: 6/8;
}

.tortinchi-divs .card8 {
    grid-column: 8/9;
}
.tortinchi-divs .card9 {
    grid-column: 9/13;
    grid-row: 7/5;
}


.beshinchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 70px;
}

.background-color {
    background-color: rgba(110, 105, 105, 0.408);
}

.beshinchi-divs .card1 {
    grid-column: 1/5;
    grid-row: 2/1;
}

.beshinchi-divs .card2 {
    grid-column: 5/9; 
    grid-row: 8/1;
}
.beshinchi-divs .card3 {
    grid-column: 9/13;
    grid-row: 4/1;
}

.beshinchi-divs .card4 {
    grid-column: 1/5;
    grid-row: 7/2;
}

.beshinchi-divs .card5 {
    grid-column: 9/13;
    grid-row: 4/6;
}

.beshinchi-divs .card6 {
    grid-column: 9/13;
    grid-row: 6/8;
}

.beshinchi-divs .card7 {
    grid-column: 1/5;
    grid-row: 7/9;
}

.beshinchi-divs .card8 {
    grid-column: 5/8;
}
.beshinchi-divs .card9 {
    grid-column: 8/11;
}
.beshinchi-divs .card10 {
    grid-column: 11/13;
}

.oltinchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3" "card1 card4 card3" "card5 card4 card3" "card5 card6 card3";
    grid-gap: 10px;
    margin-bottom: 70px;
}

.oltinchi-divs .card1 {
    grid-area: card1;
}

.oltinchi-divs .card2 {
    grid-area: card2;
}

.oltinchi-divs .card3 {
    grid-area: card3;
}

.oltinchi-divs .card4 {
    grid-area: card4;
}

.oltinchi-divs .card5 {
    grid-area: card5;
}

.oltinchi-divs .card6 {
    grid-area: card6;
}


.yettinchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3" "card1 card4 card3" "card5 card4 card6" "card5 card7 card8";
    grid-gap: 10px;
    margin-bottom: 70px;
}

.yettinchi-divs .card1 {
    grid-area: card1;
}

.yettinchi-divs .card2 {
    grid-area: card2;
}

.yettinchi-divs .card3 {
    grid-area: card3;
}

.yettinchi-divs .card4 {
    grid-area: card4;
}

.yettinchi-divs .card5 {
    grid-area: card5;
}

.yettinchi-divs .card6 {
    grid-area: card6;
}

.yettinchi-divs .card7 {
    grid-area: card7;
}

.yettinchi-divs .card8 {
    grid-area: card8;
}

.sakkizinchi-divs {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 70px;
}


.sakkizinchi-divs .card1 {
    grid-column: 1/4;
}

.sakkizinchi-divs .card2 {
    grid-column: 4/7; 
}
.sakkizinchi-divs .card3 {
    grid-column: 7/10;
}

.sakkizinchi-divs .card4 {
    grid-column: 10/13;
}

.sakkizinchi-divs .card5 {
    grid-column: 1/6;
    grid-row: 2/4;
}

.sakkizinchi-divs .card6 {
    grid-column: 6/13;
    grid-row: 2/8;
}

.sakkizinchi-divs .card7 {
    grid-column: 1/6;
    grid-row: 4/8;
}

.sakkizinchi-divs .card8 {
    grid-column: 1/5;
    grid-row: 8/11;
}
.sakkizinchi-divs .card9 {
    grid-column: 5/12;
    grid-row: 8/11;
}
.sakkizinchi-divs .card10 {
    grid-column: 12/13;
    grid-row: 8/11;
}
